html {
  overflow-y: auto;
}

body {
  overflow-x: hidden;
  background: #ffffff;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: #0b4d84;
  cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  margin: 20px;
  position: relative;
}

table {
  margin-bottom: 50px;
}

table.list {
  table-layout: fixed;
  width: 500px;
}

table.list td {
  font-weight: bold;
  font-size: 14px;
  padding: 3px 0;
}

table.list td:first-child {
  width: 200px;
  color: #666;
}

table.grid {
  width: 100%;
}

table.grid th, table.grid td {
  border: 1px solid #333;
  padding: 5px 10px;
  text-align: left;
}

table.grid th {
  background: #666;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}

table.grid tr:nth-child(2n) {
  background: #efefef;
}